.video-container video {
  border: 2px solid #403f3f;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.btn-primary {
  background-color: #427a5b;
  border-color: #b4cd93;
}

.btn-primary:hover {
  background-color: #427a5b;
  border-color: #b4cd93;
}

.video-container {
  position: relative;
}


.overlay-box {
  transition: border 0.3s;
}